[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"72aec7c" = {file = "http://download.pytorch.org/whl/cu91/torch-0.4.0-cp36-cp36m-linux_x86_64.whl"}
torchvision = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
tensorboardx = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.6"
